.container{
  margin: 50px;
  display: flex;
  align-items: flex-start;

  & img{
    width: 50%;
    height: auto;
  }
  &__text{
    padding: 10px;

    & h1{
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 1060px) {
  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    & img{
      width: 80%;
    }
  }
}